<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WCellUtilityBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <WCellUtilityBot.Properties.Settings>
            <setting name="IrcServer" serializeAs="String">
                <value>server</value>
            </setting>
            <setting name="IrcPort" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="IrcUser" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="IrcPassword" serializeAs="String">
                <value>pass</value>
            </setting>
            <setting name="IrcNick" serializeAs="String">
                <value>nick</value>
            </setting>
        </WCellUtilityBot.Properties.Settings>
    </userSettings>
</configuration>
